doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  title Data Base
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css')
  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
  //script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js')
  //script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js')
  //script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js')

  link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto|Varela+Round')
  link(rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons')
  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
  //script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')

  style(type='text/css').
    body {
    color: #566787;
    background: #05070a;
    font-family: 'Varela Round', sans-serif;
    font-size: 15px;
    }

    .accordion .card {
    color: #424e5d;
    border: 1px solid #dddddd;
    }
    .accordion .card a {
    color: #424e5d;
    text-decoration: none;
    }
    .accordion .card-header {
    background: linear-gradient(#fff, #f1f1f1);
    padding: .75rem 1rem;
    position: relative;
    }
    .accordion .card-header:hover {
    background: linear-gradient(#f1f1f1, #e8e8e8);
    }
    .accordion .card-header h2 {
    font-size: 2rem;
    }
    .accordion .fa {
    width: 20px;
    margin-right: .25rem;
    }
    .accordion .card-header a {
    float: left;
    width: 100%;
    cursor: pointer;
    }
    .accordion .toggle {
    font-size: .8rem;
    line-height: .8rem;
    cursor: pointer;
    opacity: 0.7;
    position: absolute;
    right: 16px;
    top: 16px;
    width: 14px;
    margin: 0;
    }
    .accordion .toggle:hover {
    opacity: 1;
    }
    .accordion .card-body {
    padding: 0;
    }
    .accordion .list-group-item {
    border-radius: 0;
    border-width: 1px 0 1px 0;
    padding-left: 0px;
    background: #d6dbe0;
    font-weight: 500;
    }
    .accordion .list-group-item:hover {
    background: #007bff;
    }
    .accordion .list-group-item:hover a {
    color: #fff !important;
    }
    .accordion .list-group-item:hover .badge{
    background: #fff;
    color: #007bff;
    }
    .accordion .list-group-item a {
    color: #61656b;
    display: block;
    }
    .accordion .list-group-item .badge {
    float: right;
    min-width: 36px;
    }
    .accordion .rotate{
    transform: rotate(180deg);
    }
    /* Table */
    .table-wrapper {
    background: #fff;
    padding: 1px 1px;
    margin: 10px 0;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    }
    .table-title {
    padding-bottom: 15px;
    background: #435d7d;
    color: #fff;
    padding: 16px 30px;
    margin: -20px -25px 10px;
    border-radius: 3px 3px 0 0;
    }
    .table-title h2 {
    margin: 5px 0 0;
    font-size: 24px;
    }
    .table-title .btn-group {
    float: right;
    }
    .table-title .btn {
    color: #fff;
    float: right;
    font-size: 13px;
    border: none;
    min-width: 50px;
    border-radius: 2px;
    border: none;
    outline: none !important;
    margin-left: 10px;
    }
    .table-title .btn i {
    float: left;
    font-size: 21px;
    margin-right: 5px;
    }
    .table-title .btn span {
    float: left;
    margin-top: 2px;
    }
    table.table tr th, table.table tr td {
    border-color: #e9e9e9;
    padding: 12px 15px;
    vertical-align: middle;
    }
    table.table tr th:first-child {
    width: 60px;
    }
    table.table tr th:last-child {
    width: 100px;
    }
    table.table-striped tbody tr:nth-of-type(odd) {
    background-color: #fcfcfc;
    }
    table.table-striped.table-hover tbody tr:hover {
    background: #f5f5f5;
    }
    table.table th i {
    font-size: 13px;
    margin: 0 5px;
    cursor: pointer;
    }
    table.table td:last-child i {
    opacity: 0.9;
    font-size: 22px;
    margin: 0 5px;
    }
    table.table td a {
    font-weight: bold;
    color: #566787;
    display: inline-block;
    text-decoration: none;
    outline: none !important;
    }
    table.table td a:hover {
    color: #2196F3;
    }
    table.table td a.edit {
    color: #FFC107;
    }
    table.table td a.delete {
    color: #F44336;
    }
    table.table td i {
    font-size: 19px;
    }
    table.table .avatar {
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 10px;
    }
    /* Pagination */
    .pagination {
    float: right;
    margin: 0 0 5px;
    }
    .pagination li a {
    border: none;
    font-size: 13px;
    min-width: 30px;
    min-height: 30px;
    color: #999;
    margin: 0 2px;
    line-height: 30px;
    border-radius: 2px !important;
    text-align: center;
    padding: 0 6px;
    }
    .pagination li a:hover {
    color: #666;
    }
    .pagination li.active a, .pagination li.active a.page-link {
    background: #03A9F4;
    }
    .pagination li.active a:hover {
    background: #0397d6;
    }
    .pagination li.disabled i {
    color: #ccc;
    }
    .pagination li i {
    font-size: 16px;
    padding-top: 6px
    }
    .hint-text {
    float: left;
    margin-top: 10px;
    font-size: 13px;
    }
    /* Custom checkbox */
    .custom-checkbox {
    position: relative;
    }
    .custom-checkbox input[type="checkbox"] {
    opacity: 0;
    position: absolute;
    margin: 5px 0 0 3px;
    z-index: 9;
    }
    .custom-checkbox label:before{
    width: 18px;
    height: 18px;
    }
    .custom-checkbox label:before {
    content: '';
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    background: white;
    border: 1px solid #bbb;
    border-radius: 2px;
    box-sizing: border-box;
    z-index: 2;
    }
    .custom-checkbox input[type="checkbox"]:checked + label:after {
    content: '';
    position: absolute;
    left: 6px;
    top: 3px;
    width: 6px;
    height: 11px;
    border: solid #000;
    border-width: 0 3px 3px 0;
    transform: inherit;
    z-index: 3;
    transform: rotateZ(45deg);
    }
    .custom-checkbox input[type="checkbox"]:checked + label:before {
    border-color: #03A9F4;
    background: #03A9F4;
    }
    .custom-checkbox input[type="checkbox"]:checked + label:after {
    border-color: #fff;
    }
    .custom-checkbox input[type="checkbox"]:disabled + label:before {
    color: #b8b8b8;
    cursor: auto;
    box-shadow: none;
    background: #ddd;
    }
    /* Modal styles */
    .modal .modal-dialog {
    max-width: 500px;
    }
    .modal .modal-header, .modal .modal-body, .modal .modal-footer {
    padding: 20px 30px;
    }
    .modal .modal-content {
    border-radius: 3px;
    }
    .modal .modal-footer {
    background: #ecf0f1;
    border-radius: 0 0 3px 3px;
    }
    .modal .modal-title {
    display: inline-block;
    }
    .modal .form-control {
    border-radius: 2px;
    box-shadow: none;
    border-color: #dddddd;
    }
    .modal textarea.form-control {
    resize: vertical;
    }
    .modal .btn {
    border-radius: 2px;
    min-width: 100px;
    }
    .modal form label {
    font-weight: normal;
    }

  

  script(type='text/javascript').
    $(document).ready(function(){
    // Activate tooltip
    $('[data-toggle="tooltip"]').tooltip();
    // Select/Deselect checkboxes
    var checkbox = $('table tbody input[type="checkbox"]');
    $("#selectAll").click(function(){
    if(this.checked){
    checkbox.each(function(){
    this.checked = true;
    
    });
    } else{
    checkbox.each(function(){
    this.checked = false;
    });
    }
    });
    checkbox.click(function(){
    if(!this.checked){
    $("#selectAll").prop("checked", false);
    }
    });
    });
  script.
    $(document).ready(function(){
    // Toggle plus minus icon on show hide of collapse element
    $(".collapse").on('show.bs.collapse', function(){
    $(this).parent(".card").find(".toggle").addClass("rotate");
    }).on('hide.bs.collapse', function(){
    $(this).parent(".card").find(".toggle").removeClass("rotate");
    });
    });
.container.mt-5
  .row
    .col-lg-3
      #accordionExample.accordion.mb-2
        .card
          #headingOne.card-header
            h2.mb-0
              a(data-toggle='collapse' data-target='#collapseOne' aria-expanded='false' aria-controls='collapseOne')
                span
                  i.fa.fa-user
                  |  Account
                i.fa.fa-chevron-down.toggle
          #collapseOne.collapse(aria-labelledby='headingOne' data-parent='#accordionExample')
            .card-body
              ul.list-group
                li.list-group-item
                  a(href='#')
                    i.fa.fa-pencil
                    |  Update Record
                li.list-group-item
                  a(href='#addEmployeeModal' data-toggle='modal')
                    i.fa.fa-address-card
                    |  Add Record
                li.list-group-item
                  a.text-danger(href='/upload')
                    i.fa.fa-upload
                    |  Upload CSV
        .card
          #headingThree.card-header
            h2.mb-0
              a(data-toggle='collapse' data-target='#collapseThree' aria-expanded='false' aria-controls='collapseThree')
                span
                  i.fa.fa-bar-chart
                  |  Reports
                i.fa.fa-chevron-down.toggle
          #collapseThree.collapse(aria-labelledby='headingThree' data-parent='#accordionExample')
            .card-body
              ul.list-group
                li.list-group-item
                  a(href='monthlypage')
                    i.fa.fa-certificate
                    |  Yearly Count
                li.list-group-item
                  a(href='#')
                    i.fa.fa-bar-chart
                    |  DU Wise Count
        .card
          #headingFour.card-header
            h2.mb-0
              a(data-toggle='collapse' data-target='#collapseFour' aria-expanded='false' aria-controls='collapseFour')
                span
                  i.fa.fa-cog
                  |  Settings
                i.fa.fa-chevron-down.toggle
          #collapseFour.collapse(aria-labelledby='headingFour' data-parent='#accordionExample')
            .card-body
              ul.list-group
                li.list-group-item
                  a(href='#')
                    i.fa.fa-font
                    |  Typography
                li.list-group-item
                  a(href='#')
                    i.fa.fa-bell
                    |  Notifications
                li.list-group-item
                  a(href='#')
                    i.fa.fa-map
                    |  Maps
        .card
          #headingFive.card-header
            h2.mb-0
              a(href='#')
                i.fa.fa-power-off
                |  Logout
    .col-lg-9
      .container
      .table-wrapper
      .table-title
        .row
          .col-sm-6
            h2
              | Index 
              b Data
          .col-sm-6
            a.btn.btn-danger(href='#deleteEmployeeModal' data-toggle='modal')
              i.material-icons &#xE15C;
              span Delete
      table.table.table-striped.table-hover
          thead
            tr
              th
                span.custom-checkbox
                  input#selectAll(type='checkbox')
                  label(for='selectAll') 
                th EmpNum
                th EmpName
                th EmpRoleCode
                th ActDesc
                th agiledate
                th Actions
          tbody
          each book in indexpage
            tr
              td
                span.custom-checkbox
                  input#checkbox1(type='checkbox' name='options[]' value='#{book._id}')
                  label(for='checkbox1')  
              td #{book.EmpNum}
              td #{book.EmpName}
              td #{book.EmpRoleCode}
              td #{book.ActDesc}
              td #{book.AgilePlanDate}
              td
                form#editEmp(name='update' method='get' action='/singleUpdate')
                 input#custId(type='hidden' name= 'custId' value= book._id)
                 button.btnSubmit(type='update' data-toggle='modal')
                  i.material-icons(data-toggle='tooltip' title='Edit') &#xE254;      
                form#deleteEmp(name='delemployee2' method='get' action='/delete')
                  input#custId(type='hidden' name= 'custId' value= book._id)
                  button.btnSubmit(type='Delete' data-toggle='modal')
                    i.material-icons(data-toggle='tooltip' title='Delete') &#xE872;
                  
      .clearfix
        .hint-text 
        ul.pagination
          li.page-item.disabled
            a.page-link(href='?page=1') First
          li.page-item
            a.page-link(href='?page=1') 1
          li.page-item
            a.page-link(href='?page=2') 2
          li.page-item
            a.page-link(href='?page=3') 3
          li.page-item
            a.page-link(href='?page=4') 4
          li.page-item
            a.page-link(href='?page=5') 5
          li.page-item
            a.page-link(href='?page=6') 6
          li.page-item
            a.page-link(href='?page=7') 7
          li.page-item
            a.page-link(href='?page=8') 8
          li.page-item
            a.page-link(href='?page=9') 9
          li.page-item
            a.page-link(href='?page=10') 10             
          li.page-item
            a.page-link(href='?page=8') Last
// Edit Modal HTML
#addEmployeeModal.modal.fade
  .modal-dialog
    .modal-content
      form#formmonth(name='month' method='post' action='/create/')
        .modal-header
          h4.modal-title Add Employee
          button.close(type='button' data-dismiss='modal' aria-hidden='true') &times;
        .modal-body
          .form-group
            h4 Employee Details
            .input-group.input-group-icon
            input(type='text' placeholder='Emp Number' name='EmpNum')
            input(type='text' placeholder='Emp Name' name='EmpName')
            .input-icon
            i.fa.fa-user1
            .input-group.input-group-icon
            input(type='text' placeholder='Role' name='Role')
            input(type='text' placeholder='Emp Role Code' name='EmpRoleCode')
            .input-icon
            i.fa.fa-user1
            .input-group.input-group-icon
            input(type='text' placeholder='Act Desc' name='ActDesc')
            input(type='text' placeholder='Emp Band Code Num' name='EmpBandCode')
            .input-icon
            i.fa.fa-user1
            .input-group.input-group-icon
            input(type='text' placeholder='Location' name='Location')
            input(type='text' placeholder='City' name='City')
            .input-icon
            i.fa.fa-user1
            .input-group.input-group-icon
            input(type='text' placeholder='Project Code' name='ProjectCode')
            .input-icon
            i.fa.fa-key3

          .form-group
            h4 Employer Details
            .input-group.input-group-icon
            input(type='text' placeholder='Source' name='Source')
            input(type='text' placeholder='Assign Account' name='AssignAccount')
            .input-icon
            i.fa.fa-user1
            .input-group.input-group-icon
            input(type='text' placeholder='JlEmail' name='JlEmail')
            input(type='text' placeholder='Master Customer' name='MasterCustomer')
            .input-icon
            i.fa.fa-user1
            .input-group.input-group-icon
            input(type='text' placeholder='Portfolio' name='Portfolio')
            input(type='text' placeholder='DU' name='DU')
            .input-icon
            i.fa.fa-user1
            .input-group.input-group-icon
            input(type='text' placeholder='AccountSpoke' name='AccountSpoke')
            input(type='text' placeholder='site' name='site')
            .input-icon
            i.fa.fa-user1

          .form-group
            h3 Certification Details
          .input-group.input-group-icon
            input(type='text' placeholder='Sdet Foundation' name='SdetFoundation')
            input(type='text' placeholder='certis Completed Num' name='certisCompleted')
            .input-icon
            i.fa.fa-user1

          .input-group.input-group-icon
            input.textbox-n(placeholder='Fssf plan Date' name='FssFplanDate' type='text' onfocus="(this.type='date')")
            input.textbox-n(placeholder='Fssf ActualDate' name='FssfActualDate' type='text' onfocus="(this.type='date')")
          input(type='text' placeholder='Sdettag' name='Sdettag')
          .input-icon
          i.fa.fa-user1
          h5 Agile
          .input-group.input-group-icon
            input(placeholder='Agile Plan Date' name='AgilePlanDate' type='text' onfocus="(this.type='date')")
            input(placeholder='Agile Actual Date' name='AgileActualDate' type='text' onfocus="(this.type='date')")
            .input-icon
              i.fa.fa-user1
            .input-group.input-group-icon
            input(placeholder='Agile Completion Date' name='AgileCompletionDate' type='text' onfocus="(this.type='date')")
            input(type='text' placeholder='AgileStatus' name='AgileStatus')
            .input-icon
              i.fa.fa-user1
          .input-group.input-group-icon
            input(type='text' placeholder='Agile Certification Name' name='AgileCertificationName')
            .input-icon
              i.fa.fa-user1
          h5 Automation Tool
          .input-group.input-group-icon
            input(type='text' placeholder='Automation Tool' name='AutomationTool')
            input(type='text' placeholder='Status' name='AutomationToolStatus')
            .input-icon
              i.fa.fa-user1
          .input-group.input-group-icon
            input(placeholder='Plan Date' name='AutomationToolPlanDate' type='text' onfocus="(this.type='date')")
            input(placeholder='Actual Date' name='AutomationToolActualDate' type='text' onfocus="(this.type='date')")
            .input-icon
              i.fa.fa-user1
          .input-group.input-group-icon
            input(placeholder='Completion Date' name='AutomationToolCompletionDate' type='text' onfocus="(this.type='date')")
            input(type='text' placeholder='Certification Name' name='AutomationToolCertificationName')
            .input-icon
              i.fa.fa-user1
          h5 Programming Language
          .input-group.input-group-icon
            input(type='text' placeholder='Programming Language' name='ProgrammingLanguage')
            input(type='text' placeholder='Status' name='PrgLangStatus')
            .input-icon
              i.fa.fa-user1
          .input-group.input-group-icon
            input(placeholder='Plan Date' name='PrgLangPlanDate' type='text' onfocus="(this.type='date')")
            input(placeholder='Actual Date' name='PrgLangActualDate' type='text' onfocus="(this.type='date')")
            .input-icon
              i.fa.fa-user1
          .input-group.input-group-icon
            input(placeholder='Completion Date' name='PrgLangCompletionDate' type='text' onfocus="(this.type='date')")
            input(type='text' placeholder='Certification Name' name='ProgLangCertificationName')
            .input-icon
              i.fa.fa-user1
          h5 DevOps
          .input-group.input-group-icon
            input(type='text' placeholder='DevOps Professional' name='DevOpsProfessional')
            input(type='text' placeholder='Status' name='DevOpsStatus')
            .input-icon
            i.fa.fa-user1
          .input-group.input-group-icon
            input(placeholder='Plan Date' name='DevOpsPlanDate' type='text' onfocus="(this.type='date')")
            input(placeholder='Actual Date' name='DevOpsActualPlanDate' type='text' onfocus="(this.type='date')")
            .input-icon
            i.fa.fa-user1
          .input-group.input-group-icon
            input(placeholder='Completion Date' name='DevOpsCompletionDate' type='text' onfocus="(this.type='date')")
            input(type='text' placeholder='Certification Name' name='CertificationName')
            .input-icon
             i.fa.fa-user1
          h5 BDD
          .input-group.input-group-icon
            input(type='text' placeholder='BDD Tool' name='BDDTool')
            input(type='text' placeholder='Status' name='BDDStatus')
            .input-icon
            i.fa.fa-user1
          .input-group.input-group-icon
            input(placeholder='Plan Date' name='BDDPlanDate' type='text' onfocus="(this.type='date')")
            input(placeholder='Actual Date' name='BDDPActualPlanDate' type='text' onfocus="(this.type='date')")
            .input-icon
            i.fa.fa-user1
          .input-group.input-group-icon
            input(placeholder='Completion Date' name='BDDCompletionDate' type='text' onfocus="(this.type='date')")
            .input-icon
            i.fa.fa-user1
          h5 Front End
          .input-group.input-group-icon
            input(type='text' placeholder='Front End Language' name='FrontEndLanguage')
            input(type='text' placeholder='Status' name='FrontEndStatus')
            .input-icon
            i.fa.fa-user1
          .input-group.input-group-icon
            input(placeholder='Plan Date' name='FrontPlanDate' type='text' onfocus="(this.type='date')")
            input(placeholder='Actual Date' name='FrontActualPlanDate' type='text' onfocus="(this.type='date')")
            .input-icon
              i.fa.fa-user1
          .input-group.input-group-icon
            input(placeholder='Completion Date' name='FrontCompletionDate' type='text' onfocus="(this.type='date')")
            .input-icon
              i.fa.fa-user1
          h5 Cloud
          .input-group.input-group-icon
            input(type='text' placeholder='Status' name='CloudStatus')
            .input-icon
              i.fa.fa-user1
          .input-group.input-group-icon
            input(placeholder='Plan Date' name='CloudPlanDate' type='text' onfocus="(this.type='date')")
            .input-icon
            i.fa.fa-user1
          .input-group.input-group-icon
            input(placeholder='Actual Date' name='CloudActualPlanDate' type='text' onfocus="(this.type='date')")
            .input-icon
            i.fa.fa-user1
          .input-group.input-group-icon
            input(placeholder='Completion Date' name='CloudCompletionDate' type='text' onfocus="(this.type='date')")
            .input-icon
            i.fa.fa-user1
          h5 API
          .input-group.input-group-icon
            input(type='text' placeholder='API' name='API')
            input(type='text' placeholder='Status' name='APIStatus')
            .input-icon
            i.fa.fa-user1
          .input-group.input-group-icon
            input(placeholder='Plan Date' name='APIPlanDate' type='text' onfocus="(this.type='date')")
            input(placeholder='Actual Date' name='APIActualPlanDate' type='text' onfocus="(this.type='date')")
            .input-icon
            i.fa.fa-user1
          .input-group.input-group-icon
            input(placeholder='Completion Date' name='APICompletionDate' type='text' onfocus="(this.type='date')")
            .input-icon
            i.fa.fa-user1
          h5 DB
          .input-group.input-group-icon
            input(type='text' placeholder='DB' name='DB')
            input(type='text' placeholder='Status' name='DBStatus')
            .input-icon
            i.fa.fa-user1
          .input-group.input-group-icon
            input(placeholder='Plan Date' name='DBPlanDate' type='text' onfocus="(this.type='date')")
            input(placeholder='Actual Date' name='DBActualPlanDate' type='text' onfocus="(this.type='date')")
            .input-icon
            i.fa.fa-user1
          .input-group.input-group-icon
            input(placeholder='Completion Date' name='DBCompletionDate' type='text' onfocus="(this.type='date')")
            .input-icon
            i.fa.fa-user1
          .input-group.input-group-icon
        .modal-footer
          input.btn.btn-default(type='button' data-dismiss='modal' value='Cancel')
          input.btn.btn-success(type='submit' value='Add')
// Edit Modal HTML
#editEmployeeModal.modal.fade
  .modal-dialog
    .modal-content
      form 
        .modal-header
          h4.modal-title Edit Employee
          button.close(type='button' data-dismiss='modal' aria-hidden='true') &times;
        .modal-body
          .form-group
            label Name
            input.form-control(type='text' required='')
          .form-group
            label Email
            input.form-control(type='email' required='')
          .form-group
            label Address
            textarea.form-control(required='')
          .form-group
            label Phone
            input.form-control(type='text' required='')
        .modal-footer
          input.btn.btn-default(type='button' data-dismiss='modal' value='Cancel')
          input.btn.btn-info(type='submit' value='Save')
// Delete Modal HTML
#deleteEmployeeModal.modal.fade
  .modal-dialog
    .modal-content
      form#deleteEmp(name='delemployee' method='post' action='/delete')
        .modal-header
          h4.modal-title Delete Employee
          button.close(type='button' data-dismiss='modal' aria-hidden='true') &times;
        .modal-body
          p Are you sure you want to delete these Records?
          p.text-warning
            small This action cannot be undone.
        .modal-footer
          input.btn.btn-default(type='button' data-dismiss='modal' value='Cancel')
          input.btn.btn-danger(type='submit' value='delete')        