doctype html
head
  title Total Count Month and year wise
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
.container
  // Table
  table#tablePreview.table-dark.table.table-bordered
    // Table head
    thead
      tr
        th #
        th Track
        th Agile
        th
        th Automation
        th
        th Prgraming
        th
        th Devoops
        th
        tr
        th
        th
        th Plan
        th Actual
        th Plan
        th Actual
        th Plan
        th Actual
        th Plan
        th Actual
    // Table head
    // Table body
    tbody
      tr
        th(scope='row') 1
        td Anjali
        td #{count.AgilePlanDateAnjali}
        td #{count.AgileActualAnjali}
        td #{count.AutomationToolPlanAnjali}
        td #{count.AutomationToolActualAnjali}
        td #{count.PrgLangPlanAnjali}
        td #{count.PrgLangActualAnjali}
        td #{count.DevOpsPlanAnjali}
        td #{count.DevOpsActualAnjali}        
      tr
        th(scope='row') 2
        td Abhijit
        td #{count.AgilePlanDateAbhijit}
        td #{count.AgileActualAbhijit}
        td #{count.AutomationToolPlanAbhijit}
        td #{count.AutomationToolActualAbhijit}
        td #{count.PrgLangPlanAbhijit}
        td #{count.PrgLangActualAbhijit}
        td #{count.DevOpsPlanAbhijit}
        td #{count.DevOpsActualAbhijit}        
      tr
      tr
        th(scope='row') 3
        td Ajay        
        td #{count.AgilePlanDateAjay}
        td #{count.AgileActualAjay}
        td #{count.AutomationToolPlanAjay}
        td #{count.AutomationToolActualAjay}
        td #{count.PrgLangPlanAjay}
        td #{count.PrgLangActualAjay}
        td #{count.DevOpsPlanAjay}
        td #{count.DevOpsActualAjay}
      tr
      tr
        th(scope='row') 4
        td Deepa        
        td #{count.AgilePlanDateDeepa}
        td #{count.AgileActualDeepa}
        td #{count.AutomationToolPlanDeepa}
        td #{count.AutomationToolActualDeepa}
        td #{count.PrgLangPlanDeepa}
        td #{count.PrgLangActualDeepa}
        td #{count.DevOpsPlanDeepa}
        td #{count.DevOpsActualDeepa}
      tr
      tr
        th(scope='row') 5
        td Deepak Arora        
        td #{count.AgilePlanDateDeepakArora}
        td #{count.AgileActualDeepakArora}
        td #{count.AutomationToolPlanDeepakArora}
        td #{count.AutomationToolActualDeepakArora}
        td #{count.PrgLangPlanDeepakArora}
        td #{count.PrgLangActualDeepakArora}
        td #{count.DevOpsPlanDeepakArora}
        td #{count.DevOpsActualDeepakArora}
      tr
      tr
        th(scope='row') 6
        td Deowrat       
        td #{count.AgilePlanDateDeowrat}
        td #{count.AgileActualDeowrat}
        td #{count.AutomationToolPlanDeowrat}
        td #{count.AutomationToolActualDeowrat}
        td #{count.PrgLangPlanDeowrat}
        td #{count.PrgLangActualDeowrat}
        td #{count.DevOpsPlanDeowrat}
        td #{count.DevOpsActualDeowrat}
      tr
      tr
        th(scope='row') 7
        td Jyoti       
        td #{count.AgilePlanDateJyoti}
        td #{count.AgileActualJyoti}
        td #{count.AutomationToolPlanJyoti}
        td #{count.AutomationToolActualJyoti}
        td #{count.PrgLangPlanJyoti}
        td #{count.PrgLangActualJyoti}
        td #{count.DevOpsPlanJyoti}
        td #{count.DevOpsActualJyoti}
      tr
      tr
        th(scope='row') 8
        td Kaushal        
        td #{count.AgilePlanDateKaushal}
        td #{count.AgileActualKaushal}
        td #{count.AutomationToolPlanKaushal}
        td #{count.AutomationToolActualKaushal}
        td #{count.PrgLangPlanKaushal}
        td #{count.PrgLangActualKaushal}
        td #{count.DevOpsPlanKaushal}
        td #{count.DevOpsActualKaushal}
      tr
      tr
        th(scope='row') 9
        td Kirti       
        td #{count.AgilePlanDateKirti}
        td #{count.AgileActualKirti}
        td #{count.AutomationToolPlanKirti}
        td #{count.AutomationToolActualKirti}
        td #{count.PrgLangPlanKirti}
        td #{count.PrgLangActualKirti}
        td #{count.DevOpsPlanKirti}
        td #{count.DevOpsActualKirti}
      tr
      tr
        th(scope='row') 10
        td Prabhakar}       
        td #{count.AgilePlanDatePrabhakar}
        td #{count.AgileActualPrabhakar}
        td #{count.AutomationToolPlanPrabhakar}
        td #{count.AutomationToolActualPrabhakar}
        td #{count.PrgLangPlanPrabhakar}
        td #{count.PrgLangActualPrabhakar}
        td #{count.DevOpsPlanPrabhakar}
        td #{count.DevOpsActualPrabhakar}
      tr
      tr
        th(scope='row') 11
        td Ritesh Zade      
        td #{count.AgilePlanDateRiteshZade}
        td #{count.AgileActualRiteshZade}
        td #{count.AutomationToolPlanRiteshZade}
        td #{count.AutomationToolActualRiteshZade}
        td #{count.PrgLangPlanRiteshZade}
        td #{count.PrgLangActualRiteshZade}
        td #{count.DevOpsPlanRiteshZade}
        td #{count.DevOpsActualRiteshZade}
      tr
      tr
        th(scope='row') 12
        td Vijay Varma      
        td #{count.AgilePlanDateVijayVarma}
        td #{count.AgileActualVijayVarma}
        td #{count.AutomationToolPlanVijayVarma}
        td #{count.AutomationToolActualVijayVarma}
        td #{count.PrgLangPlanVijayVarma}
        td #{count.PrgLangActualVijayVarma}
        td #{count.DevOpsPlanVijayVarma}
        td #{count.DevOpsActualVijayVarma}
      tr
  